h1 {
    color: blue;
    background-color: darkseagreen;
    text-align:center;
    font-weight: bolder;
}

p {
    background-color: darkturquoise;
    font-weight: bold;
    text-align: left;
    color: crimson;
}

#image {
    position: absolute;
    left: 50px;
    top: 50px;
}