h1 {
    color: blue;
    background-color: darkseagreen;
    text-align: left;
}

p {
    background-color: darkturquoise;
    font-weight: bold;
    text-align: left;
    color: crimson;
}

title {
    color: azure;
    background-color: black;
    text-align: center;
}