h1 {
    color: blue;
    background-color: rgb(255, 165, 0);
    text-align:center;
    font-weight: bolder;
    padding: 40px;
}

p {
    background-color: blue;
    font-weight: bold;
    text-align: left;
    color: orangered;
}

body {
    background-color: powderblue;
}